{% extends 'basecategory.html' %}
{% block title %}Our Collections{% endblock %}
{% block bg_image_id %}collectionS_image_height{% endblock bg_image_id %}
{% block page_heading %}COLLECTIONS{% endblock page_heading %}
{% block page_category_name %}Collections{% endblock page_category_name %}

{% block cat_products%}
    {% if products %}
        {% for product in products %}
            <div>
                <span class="icon-wishlist">
                    <i class='fa fa-heart-o'></i>
                    <a href="{% url 'product' product.id %}" ><img src = {{product.image}}></a>
                </span>
                <div>
                    <p>{{product.name}}</p>
                </div>
                <div class="price">
                    <span>{{product.weight}}</span>
                </div>
                <div class="price">
                    <span>{{product.price}}</span>
                </div>
                <button>ADD TO BAG</button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock cat_products%}