{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/productDetails.css' %}">
        <link rel="stylesheet" href="{% static 'css/ritualspage.css' %}">
        <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
        <link rel="icon" type="image/x-icon" href="https://images.forestessentialsindia.com/pub/media/favicon/stores/2/favicon.png">
        <title>Product Details</title>
    </head>
{% endblock head %}
{% block content %}
<div class="wrapped__product__detailsPage">
    <!--SHOW PRODUCT DETAILS WHICH ARE SELECTED -->
    <div class="details">
        <div class="product__Details">
        <div class="product__Details--img">
            <div class="icon_herat"><i class='fa fa-heart-o'></i></div>
            <img id="product__img" src={{product.image}} alt="Product Image" >
            <p>Disclaimer: The image is for representation purposes only. The packaging you receive might vary.</p>
        </div>

        <div class="product__Details--info">
            <h1 id="product_name">{{product.name}}</h1>

            <span class="product__size">SIZE :</span>
            <div id="product_weight">{{product.weight}}</div>

            <h3 id="product_price">{{product.price}}</h3>

            <div class="qty__Cart">
                <div class="qty">
                    <div class="qty_inc__dec">-</div>
                    <div class="qty_num">1</div>
                    <div class="qty_inc__dec">+</div>
                </div>
                <div class="Add_Bag">
                    ADD TO BAG
                </div>
            </div>

            <p id="fs">PRODUCT PRICE IS INCL. OF ALL TAXES</p>

            <div class="delivery">
                <i class="fa fa-truck"></i>CHECK DELIVERY TIME
            </div>
            <div>
                <div class="pincode">
                    <i class="fa fa-map-marker"></i>
                    <input type="text" placeholder="ENTER PIN CODE">
                    <p>CHECK</p>
                </div>
                <div>
                    <p>Deliver outside India?</p>
                    <p>Guaranted dispatch within 48 Hrs.</p>
                </div>
            </div>
            <div class="highlight_ads">
                <p>
                    Soundarya Club Members can earn up to <b>89.70</b> points on the <br/>purchase of this product. <a href="">Know More</a>
                </p>
            </div>

            <div class="description">
                
            </div>
        </div>
        
        </div>
    </div>
</div>
{% endblock content %}
    
{% block script %}
<script src="{% static 'js/header.js' %}"></script>
<!-- <script>

	//SPACIFIC PRODUCT DETAILS
	var arr = JSON.parse(localStorage.getItem("productDetails"))
	
	arr.map(function(ele){
		
		var img = document.querySelector("#product__img")
		img.setAttribute("src" , ele.imgUrl)

		document.querySelector("#product_name").textContent = ele.prodhead

		document.querySelector("#product_weight").textContent = ele.prodweight

		document.querySelector("#product_price").textContent = ele.prodprice


	})
	var btn = document.querySelector(".Add_Bag")
	btn.style.cursor = "pointer"
	btn.addEventListener("click" , function(){
		addtocart(arr[0])
	})
	// ADDING ITEM TO CART
    var cart=JSON.parse(localStorage.getItem("cart")) || [];
    function addtocart(elem){
        cart.push(elem);
        localStorage.setItem("cart", JSON.stringify(cart));
        document.querySelector("#cart__Count").textContent = cart.length
    }

    var i = document.querySelector(".icon_herat")
    i.style.cursor = "pointer"
    i.addEventListener("click" , function(){
    	addtowishlist(arr[0])
    })


	//WHEN THE CURSOR GOES TO ELEMENT
    i.addEventListener("mouseover" , function(){
        i.innerHTML = "<i class='fa fa-heart'></i>"
    })

    //WHEN THE CURSER OUT TO ELEMENT
    i.addEventListener("mouseout" , function(){
        i.innerHTML = "<i class='fa fa-heart-o'></i>"
    })

    // ADDING ITEM TO WHISHLIST
    var wishlist=JSON.parse(localStorage.getItem("wishlist")) || [];
    function addtowishlist(elem){
            wishlist.push(elem);
            localStorage.setItem("wishlist", JSON.stringify(wishlist));
    }

	//SHOW PRODUCT RELATED OF THAT PRODUCT
	var related_products = JSON.parse(localStorage.getItem("related_products"))
	console.log(related_products)
	related_products.map(function(ele , i){
				console.log(ele.prodhead)
				if(i < 4){

					var div = document.createElement("div")

	                //HEART ICON
	                var icon = document.createElement("div")
	                icon.innerHTML = "<i class='fa fa-heart-o'></i>"

	               

	                //IMG DIV
	                var div1 = document.createElement("div")

	                var img = document.createElement("img")
	                img.setAttribute("src" ,ele.imgUrl)
	                img.style.cursor = "pointer"


	                //PRODUCT DETAILS SHOWING FUNCTION
	                div1.addEventListener("click" , function(){
	                        showProductDetails(ele , data)
	                })

	                div1.append(img)

	                var div2 = document.createElement("div")
	                div2.setAttribute("class" , "ProductInfo")
	                var p = document.createElement("p")
	                p.textContent = ele.prodhead

	                var span1 = document.createElement("span")
	                span1.textContent = ele.prodweight

	                var span2 = document.createElement("span")
	                span2.textContent = ele.prodprice
	                div2.append(p , span1 , span2)


	                var bag = document.createElement("div")
	                bag.innerHTML = "<p>ADD TO BAG</p>"
	                bag.style.cursor = "pointer"
	                bag.setAttribute("class" , "cart_bag")
	                bag.addEventListener("click", function(){
                    	addtocart(ele);    
                	});
	                div.append(icon , div1 , div2 , bag)
	                document.querySelector(".ritual__product").append(div)
				}
                
         })
             

</script> -->
{% endblock script %}
  
