<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Create account</title>
    <style>
        .fei-signup-form-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .fei-signup-form-container>div{
            width: 300px;
        }
        .fei-field-container{
            width: 400px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
</head>
<body >
    <div class="fei-signup-form-container text-center">
        <div class="form-signin w-100 m-auto">
            <form pb-autologin="true" autocomplete="off">
                <img class="mb-4" src="https://images.forestessentialsindia.com/pub/media/logo/stores/2/FE-Logo_1.png" alt="" width="170">
                <h1 class="mb-3">Please register</h1>
    
                <div class="fei-field-container">
                    <div class="form-floating">
                        <label for="floatingInput">First Name</label>
                        <input type="email" class="form-control" id="floatingInput">
                    </div>
                    <div class="form-floating">
                        
                        <label for="floatingInput">Last Name</label>
                        <input type="email" class="form-control" id="floatingInput">
                    </div>
                    <div class="form-floating">
                        
                        <label for="floatingInput">Username</label>
                        <input type="email" class="form-control" id="floatingInput">
                    </div>
                    <div class="form-floating">
                        <label for="floatingPassword">Password</label>
                        <input type="password" class="form-control" id="floatingPassword">
                    </div>
                    <a href="#" class="w-100 btn btn-lg btn-primary mt-3" type="submit" pb-role="submit">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
