{% extends 'base.html' %}
{% block head %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="https://images.forestessentialsindia.com/pub/media/favicon/stores/2/favicon.png">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
	<link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <title>Create An Account</title>
</head>
{% endblock head %}

{% block content %}
<div id="main_signup_div">
	<h2>Create An Account</h2>
	<form action="" method="POST" novalidate>
		{% csrf_token%}
		<table class="fei-signup-table" >
			{% for field in form %}
			<tr>
				<td>{{field.label_tag}}</td>
				<td>{{field}}</td>
				<td>{{field.errors}}</td>
			</tr>
			{% endfor %}
		</table>
		<div class="signup-button-container"><input type="submit" value="submit"></div>
	</form>
</div>
{% endblock content %}
    
{% block script %}
{% load static%}
<script src="{% static 'js/signup.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
{% endblock script %}
