{% extends 'base.html' %}
{% block head %}
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">
	<link rel="stylesheet" href="{% static 'css/popup.css' %}">
	<link rel="icon" type="image/x-icon"
		href="https://images.forestessentialsindia.com/pub/media/favicon/stores/2/favicon.png">
	<title>Welcome, Please sign in</title>
	<style>
		.fei-signup-table {
			width: 100%;
			margin: auto;
		}

		.fei-signup-table label {
			font-size: 16px;
		}

		.fei-signup-table input {
			width: 560px;
			padding: 5px;
			font-size: 16px;
		}

		.signup-button-container {
			display: flex;
			justify-content: center;
			padding: 20px;
		}

		.signup-button-container input {
			font-size: 17px;
			padding: 6px 40px;
			font-weight: bold;
		}
	</style>
</head>
{% endblock head %}


{% block content %}
{% if messages %}
{% for message in messages%}
<div id="remove-django-message-container" class="remove-django-message-container-{{message.tags}}">
    <span> {{message}} </span>
    <button onclick="remove_django_message()">X</button>
</div>
{% endfor %}
{% endif %}
<div id="main_signup_div">
	<h2>Welcome, Please Sign In</h2>
	<form action="" method="POST" novalidate>
		{% csrf_token%}
		<table class="fei-signup-table">
			{% for field in form %}
			<tr>
				<td>{{field.label_tag}}</td>
				<td>{{field}}</td>
				<!-- <td>{{field.errors}}</td> -->
			</tr>
			{% endfor %}
		</table>
		<div class="signup-button-container"><input type="submit" value="submit"></div>
	</form>
</div>
{% endblock content %}

{% block script %}
{% load static%}
<script src="{% static 'js/signup.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
<script>
	function remove_django_message() {
    console.log("HI IM herre...")
    let container_div = document.getElementById('remove-django-message-container');
    container_div.style.display = "none";
};
</script>
{% endblock script %}